.adminPageTitle {
    margin: 1.25rem;
    padding: 1.0rem;
}

.adminSection {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    margin: 1.25rem;
    padding: 1.0rem;
    display: block;
}

.adminSection .title {
    color: #646464;
    font-size: 1.70em;
    font-weight: 600;
    line-height: 1.125;
}

.buscaTabla {
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
}


.table {
  background-color: white;
  color: #363636;
}

.table td,
.table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.table th {
  color: #363636;
  text-align: left;
}

.table thead {
  background-color: transparent;
}

.table thead td,
.table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.table tfoot {
  background-color: transparent;
}

.table tfoot td,
.table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.table tbody {
  background-color: transparent;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 0;
}

.table.fullwidth {
  width: 100%;
}

.table.hoverable tbody tr:not(.is-selected):hover {
  background-color: #fafafa;
}

.edit {
  color: #ffe16b!important;
}

.link {
  color: #10e5d3!important;
}

.remove {
  color: red!important;
}

.add {
  color: green!important;
}

.add-event {
  float: right;
  width: 5%;

}

.title-evento {
  display: inline;
  color: #646464;
  font-size: 1.70em;
  font-weight: 600;
  line-height: 1.125;
  width: 95%;
}
