
.cajaComentarios {
  display: none;
  border: 3px solid #f1f1f1;
  width: 52%;
}

.comentario {
  margin: 15px 5px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.comentario-autor {
  background-image: url("../img/background.jpg");
  color: black;
  padding: 10px;
  display: block;

  font-size: 1em;
  font-weight: bold;
}

.comentario-datos {
  display: flex;
  justify-content: space-between;
}

.comentario-email {
  font-size: 0.7em;
  font-weight: lighter;
}

.comentario-fecha {
  font-size: 0.9em;
  font-weight: normal;
}

.comentario-mensaje {
  padding: 10px;
}

.form-comentarios {
  padding: 10px;
}

.form-comentarios .infoComentarios {
  font-size: 1.3em;
  font-weight: bold;
}

.form-comentarios label {
  width: 100%;
  margin-top: 20px;
  display:inline-block;
  border: none;
}

.form-comentarios input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  background: #f2f2f2;
  resize: none;
  border: none;
}

.form-comentarios textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f2f2f2;
  resize: none;
  border: none;
}

.boton {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
}

.botonEnviar {
  background-image: url("../img/ground.jpg");
  font-family: Impact, Charcoal, sans-serif;
  font-variant: small-caps;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  width: 100%;
}

.botonEnviar:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.botonMostrar {
  background-image: url("../img/bricks1.jpg");
  font-family: Impact, Charcoal, sans-serif;
  font-variant: small-caps;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  width: 52%;
}

.botonMostrar:hover {  
  background-image: url("../img/bricks.jpg");
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.botonOcultar {
  display: none;
  background-image: url("../img/bricks.jpg");
  font-family: Impact, Charcoal, sans-serif;
  font-variant: small-caps;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  width: 52%;
}

.botonOcultar:hover {  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
