.twitter {
  background-color: #87f9ff;
}

.facebook {
  background-color: #4c99ff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 5px 0;
  border: none;
}

button {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
  border-radius: 4px;
}

div {
  background-color: white;
}

img {
  padding-left: 10px;
  padding-bottom: 10px;
}
