* {
  box-sizing: border-box;
}

/* Margenes a 0 en el body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header y logo */
.header {
  padding: 30px;
  text-align: center;
  background-color: #ff3636;
  text-indent: 1%;
  color: white;
}

.header .title img {
  height: 75px;
  width: 75px;
  height: auto;
}

.header .title h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-variant: small-caps;
	color:white;
	font-size: 20px;
	text-align: center;
  color: white;
  font-size: 40px;
  margin-left: 4%;
  position: relative;
  display: inline;
}

/* Barra justo inferior al header que hace de navbar con enlaces */
.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #4169E1;
}

/* Content establece el grid en columnas */
.content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  justify-content: space-between;
}

/* Columna para el sidebar izquierdo */
.sidebar {
  flex: 18%;
  background-color: #f1f1f1;
  padding: 20px;
}

.sidebar-links-title {
	font-family: Lucida Sans Unicode;
	font-size: 19px;
	text-align: center;
	color: black;
}

.sidebar-link {
  width: 100%;
  padding: 15px;
  height: 50px;
  text-align: center;
}

.sidebar-link a {
  text-decoration: none;
  color: black;
}

.sidebar-link:hover {
  background-color: #d6d6d6;
  width: 100%;
}

/* Columna principal, el otro 82% */
.main {
  flex: 82%;
  background-color: white;
  padding: 20px;
}

.main-title {
	font-family: Lucida Sans Unicode;
	font-size: 35px;
	text-align: center;
	color: black;
}

/* Minicolumnas caja de 30% (no al 33 por los bordes) cada una, para agrupar los eventos */
.box {
  display: flex;
  margin: 0 0 15px 15px;
  flex: 30%;
  padding: 10px;
}

/* Uso a y a:hover para la decoración cuando se pasa el ratón por encima */
.box a {
	color: black;
	text-decoration: none;
}

.box a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.box-content {
	padding: 1.4em;
}

/* Imagenes dentro de las cajas */
.box img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

/* Footer */
.footer {
  padding: 10px;
	font-size: 15px;
	text-align: center;
	background-color: #333;
	color: white;
}
