.container {
  width: 800px;
  margin: auto;
  border-style: solid; /* el border está solo para marcar las dimensiones ahora */
}

.container .footer {
  padding: 10px;
  font-size: 12px;
  border-style: dotted; /* lo mismo del border */
}

.container .content {
  min-height: 120px;
}

.container .content .main {
  margin-left: 5%;
}

.container .content .sidebar {
  width: 150px;
  height: 120px; /* esto no debería ser forzado a 120, si no comprobar a cuánto está el footer */
  float: left;
  border-style: dotted; /* border...*/
}

.container .header {
  height: 40px;
  text-indent: 1%;
  border-style: dotted; /* border... */
}

.main {
  text-align: justify;
}
