{% extends "layout.twig" %}

{% block titulo %}Portada{% endblock %}

{% block mainContent %}
<h2 class="main-title">No se ha encontrado el evento buscado</h2>
<section class="content-event">
    <img src="/img/raquetasRotas.jpg" width="100%"></img>
</section>

</section>
{% endblock %}
