<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    {% block head %}
      <link rel="shortcut icon" href="img/mario.ico" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/web.css" media="screen"/>
      <link rel="stylesheet" type="text/css" href="css/loginPopUp.css" media="screen"/>
      <script src="js/login.js"></script>
      <title>{% block titulo %}{% endblock %} - Mario Tennis Club</title>
    {% endblock %}
  </head>
  <!-- Fin Head -->

  <!-- Body -->
  <body>
    <!-- Header -->
    <header class="header">
    	<section class="title">
    		<img src="/img/mario_tennis.png" alt="mario tennis">
    		<h1> Mario Tennis Club </h1>
    	</section>
    </header>
    <!-- Fin Header -->

    <!-- Menu de navegacion -->
    <div class="navbar">
      <a href="/">Inicio</a>
      <a href="#news">Noticias</a>
      <a href="/contacto.php">Conócenos</a>
      <a href="#news">Ayuda</a>

      <form class="barra-busqueda" action="index.php" method="GET">
          <input class="input-busqueda" name="tag" placeholder="Buscar eventos"/>
          <button type="submit" class="boton-busqueda">Buscar</button>
      </form>

      {% if loggedUser is null %}
        <button onclick="showLoginPopUp()" class="boton-sign-in">Sign in</button>
        <button onclick="showRegisterPopUp()" class="boton-sign-up">Sign up</button>

        <div id="loginPopUp" class="modal">
          <form id="formLogin" class="modal-content animate" onsubmit="return tryLogin(event);">
            <div class="avatar-container">
              <span onclick="closeLoginModalPopUp()" class="close" title="Cerrar">&times;</span>
              <img src="img/seta.png" class="avatar">
            </div>

            <div class="containerOptions">
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Introduzca su email" name="email" required>

              <label for="password"><b>Contraseña</b></label>
              <input type="password" placeholder="Introduzca su contraseña" name="password" required>

              <button class="LoginPopUpButton" type="submit">Login</button>
              <div id="messageBox">
              </div>

            </div>

            <div class="containerOptions" style="background-color:#f1f1f1">
              <button type="button" onclick="closeLoginModalPopUp()" class="cancelbtn">Cancelar</button>
              <span class="psw" onclick="closeLoginModalPopUp(); showRegisterPopUp();">No tengo cuenta</span>
            </div>
          </form>
        </div>
        <div id="registerPopUp" class="modal">
          <form id="formRegister" class="modal-content animate" onsubmit="return tryRegister(event);">
            <div class="avatar-container">
              <span onclick="closeRegisterModalPopUp()" class="close" title="Cerrar">&times;</span>
              <img src="img/seta.png" class="avatar">
            </div>

            <div class="containerOptions">
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Introduzca su email" name="email" required>

              <label for="nickname"><b>Nombre de usuario/Nick</b></label>
              <input type="text" placeholder="Introduzca su nickname" name="nickname" required>

              <label for="password"><b>Contraseña</b></label>
              <input type="password" placeholder="Introduzca su contraseña" name="password" required>

              <label for="passwordConfirm"><b>Confirmar contraseña</b></label>
              <input type="password" placeholder="Confirmar su contraseña" name="passwordConfirm" required>

              <button class="LoginPopUpButton" type="submit">Registrar</button>
              <div id="messageBox">
              </div>

            </div>

            <div class="containerOptions" style="background-color:#f1f1f1">
              <button type="button" onclick="closeRegisterModalPopUp()" class="cancelbtn">Cancelar</button>
              <span class="psw" onclick="closeRegisterModalPopUp(); showLoginPopUp();">Ya tengo cuenta</span>
            </div>
          </form>
        </div>
      {% else %}
      <nav id="profile">
        <ul>
          <li> <a href="#">{{ loggedUser.nickname }}</a>
            <ul>
              <li>
                <a class="content-profile">Ver perfil</a>
              </li>
              {% if loggedUser.rango >= constant('Usuario::MODERADOR') %}
                <li>
                  <a class="content-profile">Panel de control</a>
                </li>
              {% endif %}
              <li class="dropdown-divider"></li>
              <li>
                <a class="content-profile" onclick="closeSession()">Cerrar sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      {% endif %}
    </div>
    <!-- Fin menu de navegacion -->

    <div class="content">

      <!-- Enlaces de interes -->
      <div class="sidebar">
        <h2 class="sidebar-links-title">Enlaces de interés</h2>
    		<div class="sidebar-link"><a href="https://www.atptour.com/">ATP Tour</a></div>
    		<div class="sidebar-link"><a href="https://wtatennis.com">WTA Tour</a></div>
    		<div class="sidebar-link"><a href="https://www.usopenseries.com/">US Open Series</a></div>
    		<div class="sidebar-link"><a href="https://www.fedcup.com/en/home.aspx">Fed Cup</a></div>
    		<div class="sidebar-link"><a href="https://www.itftennis.com/home.aspx">International Tennis Federation</a></div>
    		<div class="sidebar-link"><a href="https://www.tennisfame.com/">International Tennis Hall of Fame</a></div>
      </div>
      <!-- Fin enlaces de interes -->

      <div class="main">{% block mainContent %}{% endblock %}</div>
    </div>

    <!-- Footer -->
    <footer class="footer">
    	<p>© Mario Tennis Club 2019 · Ana Bosch Fernández · Daniel Matilla Bastero</p>
    	<p>Condiciones de uso · Política de privacidad · Política de cookies</p>
    </footer>
    <!-- Fin Footer -->

  </body>
  <!-- Fin Body -->
</html>
