<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
      <link rel="shortcut icon" href="img/mario.ico" />
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="css/web.css" media="screen"/>
      <title>Login - Mario Tennis Club</title>
  </head>
  <!-- Fin Head -->

  <!-- Body -->
  <body>
    <!-- Header -->
    <header class="header">
    	<section class="title">
    		<img src="/img/mario_tennis.png" alt="mario tennis">
    		<h1> Mario Tennis Club </h1>
    	</section>
    </header>
    <!-- Fin Header -->

    <div class="content">
      <div class="main">

      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
    	<p>© Mario Tennis Club 2019 · Ana Bosch Fernández · Daniel Matilla Bastero</p>
    	<p>Condiciones de uso · Política de privacidad · Política de cookies</p>
    </footer>
    <!-- Fin Footer -->

  </body>
  <!-- Fin Body -->
</html>
