{% extends "layout.twig" %}

{% block titulo %}Portada{% endblock %}

{% block mainContent %}
	<!-- Eventos -->
		<h2 class="main-title">Eventos destacados</h2>
		<section class="content">
			{% for evento in eventos %}
				<article class="box">
					<a href="evento.php?id={{ evento.id }}">
						<picture class="thumbnail">
							<img src="img/{{ evento.imagen }}" alt=" {{ evento.nombre }}">
						</picture>
						<div class="box-content">
							<p>{{ evento.nombre }}</p>
						</div>
					</a>
				</article>
			{% endfor %}
		</section>
	<!-- Fin eventos -->
{% endblock %}
